{% extends 'base.html.twig' %}

{% block title %}Pinterest | Create{% endblock %}

{% block body %}
    <h1>Created pins </h1>

    {{ include('layouts/forms/_form.thml.twig', {'submit': 'Creation'}) }}

{% endblock %}
