{% extends 'base.html.twig' %}

{% block title %}Pinterest | Edition {{ pins.id }} {% endblock %}

{% block body %}
    <h1>Edited pins {{ pins.id }} </h1>
    {{ include('home/_form.thml.twig', {'submit': 'Edition'}) }}
{% endblock %}
