{% extends 'base.html.twig' %}

{% block title %}Pinterest | Edition {{ pins.id }} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center text-muted h3">Edited pins {{ pins.id }} </h1>
            
            {{ include('layouts/forms/_form.thml.twig', {'submit': 'Edition'}) }}
        </div>
    </div>
</div>
{% endblock %}