{% extends 'base.html.twig' %}

{% block title %}Pinterest | Home{% endblock %}

{% block body %}
    <h1>{{ pularize(pins|length, 'Pin', 'Pins') }}</h1>
    {% for pins in pin %}

    {% endfor %}
{% endblock %}
