{% extends 'base.html.twig' %}

{% block title %}Pinterest | Home{% endblock %}

{% block body %}
    <div class="container mt-2">
        {% for pins in pin %}
            <article>
                <h2><a href="{{ path('detail', { id: pins.id }) }}">{{ pins.titre }}</a></h2>

                <p>
                    {{ pins.description }}
                </p>
            </article>
        {% endfor %}
    </div>
{% endblock %}