{% extends 'base.html.twig' %}

{% block title %}Pinterest | Home{% endblock %}

{% block body %}
    <h1>{{ pularize(pin|length, 'Pin', 'Pins') }}</h1>
    {% for pins in pin %}
        <article>
            <h2><a href="{{ path('detail', { id: pins.id }) }}">{{ pins.title }}</a></h2>

            <p>
                {{ pins.description }}
            </p>
        </article>
    {% endfor %}
{% endblock %}
