<footer class="container mt-3 text-center">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date("Y")}}  Cree avec <span class="text-danger">&hearts;</span> par Scott-Tresor
        </small>
    </p>
</footer>