{% extends 'base.html.twig' %}

{% block title %}Blog | Inscription{% endblock %}

{% block body %}

<div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Inscription</h1>

            {{ include('layouts/forms/_form.thml.twig', {'submit': 'Creation'}) }}
        </div>
    </div>
</div>
{% endblock %}
